extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.

      Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each categories in categoriesToArticles
          li.themes__item
            a.themes__item-link(href='#') #{categories.name}
              sup #{categories.count}
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое
          span.hot__icon.hot__icon--fire
        ul.hot__list
          each article in sortedArticles
            li.hot__list-item
              a.hot__list-link(href='#') #{article.title}
                sup.hot__link-sup #{article.comments.length}
      section.main-page__last.last
        h2.last__name
          | Последние комментарии
          span.last__icon.last__icon--cloud
        ul.last__list
          each article in lastCommentedArticles
            li.last__list-item
              img.last__list-image(src='img/avatar-small-1.png', width='20', height='20', alt='Аватар пользователя')
              b.last__list-name Анна Артамонова
              a.last__list-link(href='#') #{article.comments[article.comments.length - 1].text}
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          li.preview__item
            ul.preview__breadcrumbs
              each category in article.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href='#') #{category.name}
            .preview__background
              img.preview__background-image(src='img/skyscraper@1x.jpg', width='460', height='240', srcset='img/skyscraper@1x.jpg, img/skyscraper@2x.jpg 2x', alt='Фотография небоскреба')
            time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            h3.preview__name
              a.preview__name-link(href='#') #{article.title}
            p.preview__text #{article.announce}
            a.preview__comment(href='#')
              | Комментарии
              span.preview__cloud
              |
              b.preview__comment-count #{article.comments.length}
    +pagination(page, totalPages, 2, `?`)
